In [1]:
!pip install -q kaggle

In [ ]:
from google.colab import files
files.upload() # Commented out for privacy

In [8]:
!mkdir -p ~/.kaggle
!mv kaggle-4.json ~/.kaggle/kaggle.json
!chmod 600 ~/.kaggle/kaggle.json

In [9]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rishikeshkonapure/hr-analytics-prediction")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/rishikeshkonapure/hr-analytics-prediction?dataset_version_number=2...

100%|██████████| 50.1k/50.1k [00:00<00:00, 24.8MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/rishikeshkonapure/hr-analytics-prediction/versions/2

In [10]:
!cp -r /root/.cache/kagglehub/datasets/rishikeshkonapure/hr-analytics-prediction/versions/2 /content/data1

In [11]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("pavansubhasht/ibm-hr-analytics-attrition-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/pavansubhasht/ibm-hr-analytics-attrition-dataset?dataset_version_number=1...

100%|██████████| 50.1k/50.1k [00:00<00:00, 31.8MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset/versions/1

In [12]:
!cp -r /root/.cache/kagglehub/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset/versions/1 /content/data2

In [13]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("shivan118/hranalysis")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/shivan118/hranalysis?dataset_version_number=1...

100%|██████████| 938k/938k [00:00<00:00, 104MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/shivan118/hranalysis/versions/1

In [14]:
!cp -r /root/.cache/kagglehub/datasets/shivan118/hranalysis/versions/1 /content/data3

In [26]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("bhanupratapbiswas/hr-analytics-case-study")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/bhanupratapbiswas/hr-analytics-case-study?dataset_version_number=1...

100%|██████████| 50.1k/50.1k [00:00<00:00, 26.8MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/bhanupratapbiswas/hr-analytics-case-study/versions/1

In [27]:
!cp -r /root/.cache/kagglehub/datasets/bhanupratapbiswas/hr-analytics-case-study/versions/1 /content/data4

## Displaying the 4 datasets

In [24]:
import pandas as pd

df1 = pd.read_csv('/content/data1/HR-Employee-Attrition.csv')

print(df1.columns)
print(df1.shape)

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')
(1470, 35)

In [25]:

df2 = pd.read_csv('/content/data2/WA_Fn-UseC_-HR-Employee-Attrition.csv')

print(df2.columns)
print(df2.shape)

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')
(1470, 35)

In [28]:

df4 = pd.read_csv('/content/data4/hranalytics/WA_Fn-UseC_-HR-Employee-Attrition.csv')

print(df4.columns)
print(df4.shape)

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')
(1470, 35)

# Combining the dataframes

In [87]:
# convert to lowercase
df1.columns = df1.columns.str.lower()
df2.columns = df2.columns.str.lower()
df4.columns = df4.columns.str.lower()

In [88]:
common_columns = list(set(df1.columns) & set(df2.columns) & set(df4.columns))  # Convert set to list and combine the common ones
common_columns

['over18',
 'monthlyincome',
 'educationfield',
 'attrition',
 'distancefromhome',
 'dailyrate',
 'joblevel',
 'numcompaniesworked',
 'monthlyrate',
 'stockoptionlevel',
 'education',
 'percentsalaryhike',
 'maritalstatus',
 'worklifebalance',
 'yearsincurrentrole',
 'performancerating',
 'department',
 'yearssincelastpromotion',
 'employeenumber',
 'trainingtimeslastyear',
 'totalworkingyears',
 'jobrole',
 'overtime',
 'hourlyrate',
 'yearsatcompany',
 'businesstravel',
 'gender',
 'age',
 'employeecount',
 'relationshipsatisfaction',
 'standardhours',
 'jobsatisfaction',
 'yearswithcurrmanager',
 'environmentsatisfaction',
 'jobinvolvement']

In [89]:
print("Total number of columns :",len(common_columns))

Total number of columns : 35

In [90]:
combined_df = pd.concat([df1[common_columns], df2[common_columns], df4[common_columns]], ignore_index=True)

In [91]:
combined_df.head()

,over18,monthlyincome,educationfield,attrition,distancefromhome,dailyrate,joblevel,numcompaniesworked,monthlyrate,stockoptionlevel,...,businesstravel,gender,age,employeecount,relationshipsatisfaction,standardhours,jobsatisfaction,yearswithcurrmanager,environmentsatisfaction,jobinvolvement
0,Y,5993,Life Sciences,Yes,1,1102,2,8,19479,0,...,Travel_Rarely,Female,41,1,1,80,4,5,2,3
1,Y,5130,Life Sciences,No,8,279,2,1,24907,1,...,Travel_Frequently,Male,49,1,4,80,2,7,3,2
2,Y,2090,Other,Yes,2,1373,1,6,2396,0,...,Travel_Rarely,Male,37,1,2,80,3,0,4,2
3,Y,2909,Life Sciences,No,3,1392,1,1,23159,0,...,Travel_Frequently,Female,33,1,3,80,3,0,4,3
4,Y,3468,Medical,No,2,591,1,9,16632,1,...,Travel_Rarely,Male,27,1,4,80,2,2,1,3

In [92]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   over18                    4410 non-null   object
 1   monthlyincome             4410 non-null   int64
 2   educationfield            4410 non-null   object
 3   attrition                 4410 non-null   object
 4   distancefromhome          4410 non-null   int64
 5   dailyrate                 4410 non-null   int64
 6   joblevel                  4410 non-null   int64
 7   numcompaniesworked        4410 non-null   int64
 8   monthlyrate               4410 non-null   int64
 9   stockoptionlevel          4410 non-null   int64
 10  education                 4410 non-null   int64
 11  percentsalaryhike         4410 non-null   int64
 12  maritalstatus             4410 non-null   object
 13  worklifebalance           4410 non-null   int64
 14  yearsincurrentrole        4410 non-null   int64
 15  performancerating         4410 non-null   int64
 16  department                4410 non-null   object
 17  yearssincelastpromotion   4410 non-null   int64
 18  employeenumber            4410 non-null   int64
 19  trainingtimeslastyear     4410 non-null   int64
 20  totalworkingyears         4410 non-null   int64
 21  jobrole                   4410 non-null   object
 22  overtime                  4410 non-null   object
 23  hourlyrate                4410 non-null   int64
 24  yearsatcompany            4410 non-null   int64
 25  businesstravel            4410 non-null   object
 26  gender                    4410 non-null   object
 27  age                       4410 non-null   int64
 28  employeecount             4410 non-null   int64
 29  relationshipsatisfaction  4410 non-null   int64
 30  standardhours             4410 non-null   int64
 31  jobsatisfaction           4410 non-null   int64
 32  yearswithcurrmanager      4410 non-null   int64
 33  environmentsatisfaction   4410 non-null   int64
 34  jobinvolvement            4410 non-null   int64
dtypes: int64(26), object(9)
memory usage: 1.2+ MB

###  No Null values... Let's check for duplicates

In [93]:
combined_df.describe()

,monthlyincome,distancefromhome,dailyrate,joblevel,numcompaniesworked,monthlyrate,stockoptionlevel,education,percentsalaryhike,worklifebalance,...,hourlyrate,yearsatcompany,age,employeecount,relationshipsatisfaction,standardhours,jobsatisfaction,yearswithcurrmanager,environmentsatisfaction,jobinvolvement
count,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,...,4410.000000,4410.000000,4410.000000,4410.0,4410.000000,4410.0,4410.000000,4410.000000,4410.000000,4410.000000
mean,6502.931293,9.192517,802.485714,2.063946,2.693197,14313.103401,0.793878,2.912925,15.209524,2.761224,...,65.891156,7.008163,36.923810,1.0,2.712245,80.0,2.728571,4.123129,2.721769,2.729932
std,4706.888856,8.105026,403.417570,1.106689,2.497442,7116.171484,0.851883,1.023933,3.659108,0.706316,...,20.324816,6.125135,9.133301,0.0,1.080964,0.0,1.102596,3.567327,1.092834,0.711400
min,1009.000000,1.000000,102.000000,1.000000,0.000000,2094.000000,0.000000,1.000000,11.000000,1.000000,...,30.000000,0.000000,18.000000,1.0,1.000000,80.0,1.000000,0.000000,1.000000,1.000000
25%,2911.000000,2.000000,465.000000,1.000000,1.000000,8045.000000,0.000000,2.000000,12.000000,2.000000,...,48.000000,3.000000,30.000000,1.0,2.000000,80.0,2.000000,2.000000,2.000000,2.000000
50%,4919.000000,7.000000,802.000000,2.000000,2.000000,14235.500000,1.000000,3.000000,14.000000,3.000000,...,66.000000,5.000000,36.000000,1.0,3.000000,80.0,3.000000,3.000000,3.000000,3.000000
75%,8380.000000,14.000000,1157.000000,3.000000,4.000000,20462.000000,1.000000,4.000000,18.000000,3.000000,...,84.000000,9.000000,43.000000,1.0,4.000000,80.0,4.000000,7.000000,4.000000,3.000000
max,19999.000000,29.000000,1499.000000,5.000000,9.000000,26999.000000,3.000000,5.000000,25.000000,4.000000,...,100.000000,40.000000,60.000000,1.0,4.000000,80.0,4.000000,17.000000,4.000000,4.000000

# Checking For Duplicates

In [94]:
combined_df.duplicated().sum()

2940

In [95]:
combined_df = combined_df.drop_duplicates()
print("Number of duplicates after dropping:", combined_df.duplicated().sum())

Number of duplicates after dropping: 0

## 3 diverse problem statements to explore different perspectives:

- Employee Attrition Analysis: To understand and predict attrition rates.
- Employee Satisfaction and Retention: To improve satisfaction and retention.
- Performance and Compensation: To analyze if compensation aligns with performance.

In [96]:
# Identifying  all non-numeric columns (including object types)
non_numeric_cols = combined_df.select_dtypes(exclude=['number']).columns
print("Non-numeric columns:", non_numeric_cols)

Non-numeric columns: Index(['over18', 'educationfield', 'attrition', 'maritalstatus', 'department',
       'jobrole', 'overtime', 'businesstravel', 'gender'],
      dtype='object')

In [97]:
for col in non_numeric_cols:
    print(f"Unique values in '{col}':")
    print(combined_df[col].unique())
    print()

Unique values in 'over18':
['Y']

Unique values in 'educationfield':
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']

Unique values in 'attrition':
['Yes' 'No']

Unique values in 'maritalstatus':
['Single' 'Married' 'Divorced']

Unique values in 'department':
['Sales' 'Research & Development' 'Human Resources']

Unique values in 'jobrole':
['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']

Unique values in 'overtime':
['Yes' 'No']

Unique values in 'businesstravel':
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']

Unique values in 'gender':
['Female' 'Male']

### One Hot encoding Categorical variables